nav {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 2px;
}
.menu {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3px;
}
.menu li {
    display: inline-block;
    margin-left: 50px;
}
a {
    color: #FF0000;
    text-decoration: none;
    text-transform: uppercase;
}
.photo {
    background-image: url("./image.png");
    width: 1280px;
    height: 789px;
    margin-top: 26px;
    margin-right: auto;
    margin-left: auto;
}
.main {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 1145px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px;
}
h2 {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 49px;
}
.first {
    margin-top: 38px;
}
.second {
    margin-top: 28px;
}
button {
    margin-top: 66px;
    background-color: #FF0000;
    color: white;
    width: 191px;
    height: 51px;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.8px;
    font-weight: 700;
}
.footer {
    margin-left: 713px;
    margin-top: 82px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2.4px;
    margin-bottom: 29px;

}